html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row; /* Row layout for desktop */
}

/* Desktop/Laptop View */
#side-panel {
    width: 25%; /* Side panel on the left */
    height: 100vh;
    background-color: #f4f4f4;
    overflow-y: auto;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Shadow on the right */
    padding: 20px;
    font-family: 'Alegreya Sans SC', sans-serif;
}

#map {
    width: 75%; /* Map takes up 70% */
    height: 100vh; /* Full height */
}

/* Mobile View */
@media only screen and(max-width: 600px) {
    .container {
        flex-direction: column; /* Stack the map and side panel vertically */
    }
        #side-panel {
        width: 100%; /* Full width */
        height: 40vh; /* 40% of the viewport height */
        box-shadow: none;
    }
    #map {
        width: 100%; /* Full width */
        height: 60vh; /* 60% of the viewport height */
    }
    

}

/* Additional Styling for Side Panel Content */
#logo {
    text-align: center;
}

.logo-text-block {
    font-size: 11px;
    line-height: 0.5;
    color: #000;
    text-align: left;
    margin-bottom: 60px;
}

#abstract {
    margin-top: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    line-height: 1.3;
    margin-bottom: 60px;
}

#social-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}

.social-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #f4f4f4;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.popup-btn {
    background-color: #47051d;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}
